body {
    background-color: dimgray;
}

h1 {
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.box {
    background-color: darkgrey;
    border-radius: 15px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    text-align: center;
    color: indigo;
    padding: 5px;
}

p {
    color: indigo;
}

input {
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 15px;
    font-size: large;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 20px;
    font-size: larger;
}